body{
    background: linear-gradient(
        #dd5e89,#F7BB97
    );
}
.main-div{
    min-height: 100vh;
    min-width: 100%;
}
.login-div{
    height: 300px;
    width: 27%;
    background-color: white;
    box-shadow: 20px 20px 20px 20px gray;
    border-radius: 10px;
}
.formindes{
    width:70%!important;
    border-right: none!important;
    border-top: none!important;
    border-left: none!important;
    border-radius: 0px!important;
    box-shadow: 3px 3px 3px 3px gray!important;
}